Importing Libraries

In [1]:
import pandas as pd
import numpy as np

Loading Dataset

In [2]:
#loading or exporting csv file by using pandas library
df=pd.read_csv("All India Consumer Price Index (Rural Vs Urban) upto May 2023.csv")
df

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
0,Rural,2013,January,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,NaN,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1
1,Urban,2013,January,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,100.3,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0
2,Rural+Urban,2013,January,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,100.3,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6
3,Rural,2013,February,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,NaN,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8
4,Urban,2013,February,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,100.4,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,Rural,2023,April,173.3,206.9,167.9,178.2,178.5,173.7,142.8,...,-,181.5,179.1,187.2,169.4,173.2,179.4,183.8,178.9,178.8
367,Urban,2023,April,174.8,213.7,172.4,178.8,168.7,179.2,179.9,...,175.2,182.1,169.6,181.5,160.1,168.8,174.2,184.4,170.9,177.4
368,Rural+Urban,2023,April,173.8,209.3,169.6,178.4,174.9,176.3,155.4,...,175.2,181.7,174.6,185.0,164.5,170.7,176.4,184.0,175.0,178.1
369,Rural,2023,May,173.2,211.5,171.0,179.6,173.3,169.0,148.7,...,-,182.5,179.8,187.8,169.7,173.8,180.3,184.9,179.5,179.8
370,Urban,2023,May,174.7,219.4,176.7,179.4,164.4,175.8,185.0,...,175.6,183.4,170.1,182.2,160.4,169.2,174.8,185.6,171.6,178.2

Performinng Data Preprocessing

In [3]:
#shows given numbers of rows data from dataset
df.head(20)

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
0,Rural,2013,January,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,NaN,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1
1,Urban,2013,January,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,100.3,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0
2,Rural+Urban,2013,January,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,100.3,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6
3,Rural,2013,February,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,NaN,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8
4,Urban,2013,February,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,100.4,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7
5,Rural+Urban,2013,February,110.4,110.2,112.8,104.9,105.5,103.6,103.2,...,100.4,106.0,105.2,104.5,104.2,103.6,103.9,104.5,104.4,105.3
6,Rural,2013,March,110.2,108.8,109.9,105.6,106.2,105.7,101.4,...,NaN,106.1,105.6,104.7,104.6,104.0,104.3,104.3,104.6,106.0
7,Urban,2013,March,113.9,111.4,113.2,104.3,102.7,104.9,103.8,...,100.4,106.0,105.7,105.2,105.5,103.5,103.8,104.2,104.9,105.0
8,Rural+Urban,2013,March,111.4,109.7,111.2,105.1,104.9,105.3,102.2,...,100.4,106.1,105.6,104.9,105.1,103.7,104.0,104.3,104.7,105.5
9,Rural,2013,April,110.2,109.5,106.9,106.3,105.7,108.3,103.4,...,NaN,106.5,106.1,105.1,104.4,104.5,104.8,102.7,104.6,106.4
10,Urban,2013,April,114.6,113.4,106.0,104.7,102.1,109.5,109.7,...,100.5,106.4,106.5,105.7,105.0,104.0,105.2,103.2,105.1,105.7
11,Rural+Urban,2013,April,111.6,110.9,106.6,105.7,104.4,108.9,105.5,...,100.5,106.5,106.3,105.3,104.7,104.2,105.0,102.9,104.8,106.1
12,Rural,2013,May,110.9,109.8,105.9,107.5,105.3,108.1,107.3,...,NaN,107.5,106.8,105.7,104.1,105.0,105.5,102.1,104.8,107.2
13,Urban,2013,May,115.4,114.2,102.7,105.5,101.5,110.6,123.7,...,100.5,107.2,107.1,106.2,103.9,104.6,105.7,102.6,104.9,106.6
14,Rural+Urban,2013,May,112.3,111.3,104.7,106.8,103.9,109.3,112.9,...,100.5,107.4,106.9,105.9,104.0,104.8,105.6,102.3,104.8,106.9
15,Rural,2013,June,112.3,112.1,108.1,108.3,105.9,109.2,118.0,...,NaN,108.5,107.5,106.3,105.0,105.6,106.5,102.5,105.5,108.9
16,Urban,2013,June,117.0,120.1,112.5,107.3,101.3,112.4,143.6,...,106.6,108.0,107.7,106.5,105.2,105.2,108.1,103.3,106.1,109.7
17,Rural+Urban,2013,June,113.8,114.9,109.8,107.9,104.2,110.7,126.7,...,106.6,108.3,107.6,106.4,105.1,105.4,107.4,102.8,105.8,109.3
18,Rural,2013,July,113.4,114.9,110.5,109.3,106.2,110.3,129.2,...,NaN,109.5,108.3,106.9,106.8,106.4,107.8,102.5,106.5,110.7
19,Urban,2013,July,117.8,119.2,114.0,108.3,101.1,113.2,160.9,...,107.7,108.6,108.1,107.1,107.3,105.9,110.1,103.2,107.3,111.4

In [4]:
#gives number of rows and columns in dataset
df.shape

(371, 30)

In [5]:
#information about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Sector                               371 non-null    object
 1   Year                                 371 non-null    int64
 2   Month                                371 non-null    object
 3   Cereals and products                 368 non-null    float64
 4   Meat and fish                        365 non-null    float64
 5   Egg                                  368 non-null    float64
 6   Milk and products                    368 non-null    float64
 7   Oils and fats                        368 non-null    float64
 8   Fruits                               368 non-null    float64
 9   Vegetables                           368 non-null    float64
 10  Pulses and products                  368 non-null    float64
 11  Sugar and Confectionery              368 non-null    float64
 12  Spices                               368 non-null    float64
 13  Non-alcoholic beverages              368 non-null    float64
 14  Prepared meals, snacks, sweets etc.  365 non-null    float64
 15  Food and beverages                   368 non-null    float64
 16  Pan, tobacco and intoxicants         365 non-null    float64
 17  Clothing                             365 non-null    float64
 18  Footwear                             365 non-null    float64
 19  Clothing and footwear                365 non-null    float64
 20  Housing                              249 non-null    object
 21  Fuel and light                       368 non-null    float64
 22  Household goods and services         365 non-null    float64
 23  Health                               368 non-null    float64
 24  Transport and communication          365 non-null    float64
 25  Recreation and amusement             365 non-null    float64
 26  Education                            365 non-null    float64
 27  Personal care and effects            365 non-null    float64
 28  Miscellaneous                        365 non-null    float64
 29  General index                        365 non-null    float64
dtypes: float64(26), int64(1), object(3)
memory usage: 87.1+ KB

In [6]:
#finding null values and show output in boolean values(True or False)
df.isnull()

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
367,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
368,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
369,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
#sum of null values from dataset
df.isnull().sum()

Sector                                   0
Year                                     0
Month                                    0
Cereals and products                     3
Meat and fish                            6
Egg                                      3
Milk and products                        3
Oils and fats                            3
Fruits                                   3
Vegetables                               3
Pulses and products                      3
Sugar and Confectionery                  3
Spices                                   3
Non-alcoholic beverages                  3
Prepared meals, snacks, sweets etc.      6
Food and beverages                       3
Pan, tobacco and intoxicants             6
Clothing                                 6
Footwear                                 6
Clothing and footwear                    6
Housing                                122
Fuel and light                           3
Household goods and services             6
Health                                   3
Transport and communication              6
Recreation and amusement                 6
Education                                6
Personal care and effects                6
Miscellaneous                            6
General index                            6
dtype: int64

In [8]:
#shows the null values from particular column in boolean data type
A=pd.isnull(df["Fuel and light"])
A

0      False
1      False
2      False
3      False
4      False
       ...
366    False
367    False
368    False
369    False
370    False
Name: Fuel and light, Length: 371, dtype: bool

In [9]:
#shows not null values in dataset as true is value is not null and false if value is null (opposite the result of isnull)
df.notnull()

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
0,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
367,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
368,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
369,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
370,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [10]:
#sum of not null values in each column
df.notnull().sum()

Sector                                 371
Year                                   371
Month                                  371
Cereals and products                   368
Meat and fish                          365
Egg                                    368
Milk and products                      368
Oils and fats                          368
Fruits                                 368
Vegetables                             368
Pulses and products                    368
Sugar and Confectionery                368
Spices                                 368
Non-alcoholic beverages                368
Prepared meals, snacks, sweets etc.    365
Food and beverages                     368
Pan, tobacco and intoxicants           365
Clothing                               365
Footwear                               365
Clothing and footwear                  365
Housing                                249
Fuel and light                         368
Household goods and services           365
Health                                 368
Transport and communication            365
Recreation and amusement               365
Education                              365
Personal care and effects              365
Miscellaneous                          365
General index                          365
dtype: int64

In [11]:
B=pd.notnull(df["Fruits"])
B

0      True
1      True
2      True
3      True
4      True
       ...
366    True
367    True
368    True
369    True
370    True
Name: Fruits, Length: 371, dtype: bool

In [12]:
#number of unique values from each column in dataset
df.nunique()

Sector                                   3
Year                                    11
Month                                   14
Cereals and products                   251
Meat and fish                          289
Egg                                    281
Milk and products                      267
Oils and fats                          255
Fruits                                 279
Vegetables                             311
Pulses and products                    264
Sugar and Confectionery                204
Spices                                 280
Non-alcoholic beverages                266
Prepared meals, snacks, sweets etc.    305
Food and beverages                     275
Pan, tobacco and intoxicants           307
Clothing                               303
Footwear                               285
Clothing and footwear                  301
Housing                                117
Fuel and light                         273
Household goods and services           289
Health                                 305
Transport and communication            249
Recreation and amusement               302
Education                              290
Personal care and effects              280
Miscellaneous                          290
General index                          283
dtype: int64

In [13]:
#total of unique values from dataset
df.nunique().sum()

7429

In [14]:
#filling null values with given value in dataset
df.fillna(100)

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
0,Rural,2013,January,107.5,106.3,108.1,104.9,106.1,103.9,101.9,...,100,105.5,104.8,104.0,103.3,103.4,103.8,104.7,104.0,105.1
1,Urban,2013,January,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,100.3,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0
2,Rural+Urban,2013,January,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,100.3,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6
3,Rural,2013,February,109.2,108.7,110.2,105.4,106.7,104.0,102.4,...,100,106.2,105.2,104.4,103.9,104.0,104.1,104.6,104.4,105.8
4,Urban,2013,February,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,100.4,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,Rural,2023,April,173.3,206.9,167.9,178.2,178.5,173.7,142.8,...,-,181.5,179.1,187.2,169.4,173.2,179.4,183.8,178.9,178.8
367,Urban,2023,April,174.8,213.7,172.4,178.8,168.7,179.2,179.9,...,175.2,182.1,169.6,181.5,160.1,168.8,174.2,184.4,170.9,177.4
368,Rural+Urban,2023,April,173.8,209.3,169.6,178.4,174.9,176.3,155.4,...,175.2,181.7,174.6,185.0,164.5,170.7,176.4,184.0,175.0,178.1
369,Rural,2023,May,173.2,211.5,171.0,179.6,173.3,169.0,148.7,...,-,182.5,179.8,187.8,169.7,173.8,180.3,184.9,179.5,179.8
370,Urban,2023,May,174.7,219.4,176.7,179.4,164.4,175.8,185.0,...,175.6,183.4,170.1,182.2,160.4,169.2,174.8,185.6,171.6,178.2

In [15]:
#drop null values from dataset
df.dropna()

,Sector,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruits,Vegetables,...,Housing,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects,Miscellaneous,General index
1,Urban,2013,January,110.5,109.1,113.0,103.6,103.4,102.3,102.9,...,100.3,105.4,104.8,104.1,103.2,102.9,103.5,104.3,103.7,104.0
2,Rural+Urban,2013,January,108.4,107.3,110.0,104.4,105.1,103.2,102.2,...,100.3,105.5,104.8,104.0,103.2,103.1,103.6,104.5,103.9,104.6
4,Urban,2013,February,112.9,112.9,116.9,104.0,103.5,103.1,104.9,...,100.4,105.7,105.2,104.7,104.4,103.3,103.7,104.3,104.3,104.7
5,Rural+Urban,2013,February,110.4,110.2,112.8,104.9,105.5,103.6,103.2,...,100.4,106.0,105.2,104.5,104.2,103.6,103.9,104.5,104.4,105.3
7,Urban,2013,March,113.9,111.4,113.2,104.3,102.7,104.9,103.8,...,100.4,106.0,105.7,105.2,105.5,103.5,103.8,104.2,104.9,105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,Rural,2023,April,173.3,206.9,167.9,178.2,178.5,173.7,142.8,...,-,181.5,179.1,187.2,169.4,173.2,179.4,183.8,178.9,178.8
367,Urban,2023,April,174.8,213.7,172.4,178.8,168.7,179.2,179.9,...,175.2,182.1,169.6,181.5,160.1,168.8,174.2,184.4,170.9,177.4
368,Rural+Urban,2023,April,173.8,209.3,169.6,178.4,174.9,176.3,155.4,...,175.2,181.7,174.6,185.0,164.5,170.7,176.4,184.0,175.0,178.1
369,Rural,2023,May,173.2,211.5,171.0,179.6,173.3,169.0,148.7,...,-,182.5,179.8,187.8,169.7,173.8,180.3,184.9,179.5,179.8
370,Urban,2023,May,174.7,219.4,176.7,179.4,164.4,175.8,185.0,...,175.6,183.4,170.1,182.2,160.4,169.2,174.8,185.6,171.6,178.2

In [16]:
#drop the given columns which you dont want in further study  and inplace makes this changes permenently.
df.drop(["Miscellaneous","General index"],axis=1,inplace=True)

In [17]:
df.shape

(371, 28)

In [18]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
366    False
367    False
368    False
369    False
370    False
Length: 371, dtype: bool

In [19]:
#datatype of particular column
df["Cereals and products"].dtypes

dtype('float64')

In [20]:
#names of every column from dataset
df.columns

Index(['Sector', 'Year', 'Month', 'Cereals and products', 'Meat and fish',
       'Egg', 'Milk and products', 'Oils and fats', 'Fruits', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects'],
      dtype='object')

In [21]:
#renameing the column permenently
df.rename(columns={'Fruits':'Fruit'},inplace=True)

In [22]:
df.columns

Index(['Sector', 'Year', 'Month', 'Cereals and products', 'Meat and fish',
       'Egg', 'Milk and products', 'Oils and fats', 'Fruit', 'Vegetables',
       'Pulses and products', 'Sugar and Confectionery', 'Spices',
       'Non-alcoholic beverages', 'Prepared meals, snacks, sweets etc.',
       'Food and beverages', 'Pan, tobacco and intoxicants', 'Clothing',
       'Footwear', 'Clothing and footwear', 'Housing', 'Fuel and light',
       'Household goods and services', 'Health', 'Transport and communication',
       'Recreation and amusement', 'Education', 'Personal care and effects'],
      dtype='object')

STATISTICAL SUMMARY FOR STUDY

In [23]:
#statistical summery of whole dataset
df.describe()

,Year,Cereals and products,Meat and fish,Egg,Milk and products,Oils and fats,Fruit,Vegetables,Pulses and products,Sugar and Confectionery,...,Clothing,Footwear,Clothing and footwear,Fuel and light,Household goods and services,Health,Transport and communication,Recreation and amusement,Education,Personal care and effects
count,371.000000,368.000000,365.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,368.000000,...,365.000000,365.000000,365.000000,368.000000,365.000000,368.000000,365.000000,365.000000,365.000000,365.000000
mean,2017.695418,136.585326,156.105753,140.709511,140.218750,132.023370,140.755707,155.737772,141.338043,110.892935,...,142.541370,135.857534,141.552329,136.384239,136.581370,138.388587,127.067397,133.789589,141.032603,133.207945
std,3.019120,14.893581,33.261467,22.490500,18.264993,29.932206,17.316939,27.943353,23.906439,9.009142,...,21.154143,19.634766,20.895164,22.151356,19.245006,23.605866,19.089979,20.062156,21.151505,23.017779
min,2013.000000,107.500000,106.300000,102.700000,103.600000,101.100000,102.300000,101.400000,103.500000,85.300000,...,105.900000,105.000000,105.800000,105.400000,104.800000,104.000000,103.200000,102.900000,103.500000,102.100000
25%,2015.000000,124.175000,130.300000,122.075000,128.300000,110.475000,130.400000,135.075000,119.900000,103.500000,...,125.800000,120.700000,125.000000,116.475000,121.000000,118.575000,111.700000,117.200000,123.800000,112.500000
50%,2018.000000,135.850000,144.200000,135.500000,141.000000,120.450000,141.100000,153.350000,139.100000,113.300000,...,142.700000,133.000000,141.400000,132.150000,134.900000,133.500000,119.600000,129.800000,139.800000,127.600000
75%,2020.000000,146.325000,191.000000,161.650000,153.925000,140.475000,152.600000,171.300000,164.300000,118.800000,...,154.700000,146.500000,152.800000,148.925000,150.600000,156.975000,140.700000,149.600000,160.200000,155.800000
max,2023.000000,174.800000,223.400000,197.000000,179.600000,209.900000,179.500000,245.300000,191.600000,124.200000,...,191.200000,187.900000,190.800000,183.400000,179.800000,187.800000,169.700000,173.800000,180.300000,185.600000

In [24]:
#statistical summary of particular columns
df[["Pan, tobacco and intoxicants","Clothing and footwear"]].describe()

       Pan, tobacco and intoxicants  Clothing and footwear
count                    365.000000             365.000000
mean                     155.260822             141.552329
std                       29.549158              20.895164
min                      105.100000             105.800000
25%                      131.000000             125.000000
50%                      155.100000             141.400000
75%                      186.100000             152.800000
max                      204.200000             190.800000

In [25]:
df[["Meat and fish","Egg"]].describe()

       Meat and fish         Egg
count     365.000000  368.000000
mean      156.105753  140.709511
std        33.261467   22.490500
min       106.300000  102.700000
25%       130.300000  122.075000
50%       144.200000  135.500000
75%       191.000000  161.650000
max       223.400000  197.000000

In [26]:
df[["Egg"]].describe()

              Egg
count  368.000000
mean   140.709511
std     22.490500
min    102.700000
25%    122.075000
50%    135.500000
75%    161.650000
max    197.000000

THANK YOU!